body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif; 
    width:100%;
}

body div{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    margin: 0;
    background: #000;
    padding-bottom: 0.25%;
    padding-top: 0.25%;
    width: 100vw;
    position: fixed;
    top:100;
    z-index: 999;
}

header text{
    width:50%;
}

header a{
    color:#fff;
    margin: 0;
    padding: 0.8%;
    font-size: medium;
    position: relative;
    text-decoration: none;
    transition: 1s;
    
}

header a:hover{
    color: rgb(144, 209, 101);
}

.hero img{
    height: 70vh;
    width:100vw;
}