body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif; 
}

header{
    display: flex;
    justify-content: space-around;
    margin: 0;
    background: #000;
    padding-bottom: 0.25%;
    padding-top: 0.25%;
    width: 100vw;
    position: fixed;
    top:100;
    z-index: 999;
}

header text{
    width:50%;
}

header a{
    color:#fff;
    margin: 0;
    padding: 0.8%;
    font-size: medium;
    position: relative;
    text-decoration: none;
    transition: 1s;
    
}

header a:hover{
    color: rgb(144, 209, 101);
}

.container{
    display: flex;
    flex-direction:row;
    width:100vw;
    height:60vh;
}

.white{
    width:50vw;
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black{
    background: rgb(27, 26, 26);
    width:50vw;
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    background: rgb(39, 37, 37);
    padding: 5%;
    padding-bottom: 2%;

    }

.contacts a{
    position: relative;
    color: #eee;
    text-decoration: none;
}

.contacts{
    color:#eee;
}

footer form{
    display: flex;
    flex-direction: column;
    color: #eee;
}

footer form input{
    outline:none;
    box-shadow: none;
}

footer form textarea{
    outline:none;
    margin-bottom: 2%;
}

footer form button{
    height: 10%;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 2%;
    transition: 1s;
    outline:none;
    border:none;
    border-radius: 3%;


}

footer form button:hover{
    background-color:#acabab;

}

footer form button:focus{
    background-color:rgb(144, 209, 101);

}

@media(min-width:750px){
    footer input, footer textarea{
        width:29%;
    }

    footer form button{
        width: 7%;
    }
}

iframe{
    display: none;
}

@media(max-width:750px){
    body{
        overflow-x: hidden;
        width:100%;
        max-width: 750px;
        font-size: 50%;
    }
  
  
    
  
    div{
        width: 131%;
        overflow: hidden;
    }
  
  
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  
  
     header a{
         font-size: 0.2rem;
     }

     footer{
        height: 100%;
        width: 100%;
    }

    .contacts{
        width:100vw;
    }

    .container{
        width:115%
    }

    footer input, footer textarea{
        width:70%;
    }

    .white{
        width:100%;
        height:60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .black{
        background: rgb(27, 26, 26);
        width:100%;
        height:60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    img{
        width:50%;
    }

}