@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 

}

.hero{
    padding-top: 10%;
    padding-bottom: 20%;
    background: rgb(190, 187, 187);
    height: 50vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.pag{
    display: flex;
    flex-direction: column;
}

.img{
    background: #000;
    height: 200px;
    width: 200px;
    
}

.vid button{
    align-self: center;
}

a{
    margin-top: 30%;
    border: none;
    outline:none;
    color: #eee;
    background: rgb(120, 85, 134);
    transition: 1s;
    text-align: center;
    text-decoration: none;
    padding: 1%;

}

a:hover{
    background-color: rgb(164, 165, 167);
}